<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="杭州随寓网络科技有限公司，系德信地产子公司，是一家利用移动互联网信息技术，通过线上线下平台资源整合，实践O2O模式的专业公寓运营商。公司所打造的“随寓青年社区”营造“自由、独立、关怀、分享、参与”的居住氛围和社区文化。" />
    <meta name="keywords" content="随寓、租房、青年社区、青年公寓、人才公寓、服务式公寓、酒店式公寓、管家服务、北软公寓、西溪寓、之美寓、金鹰大厦、西湖文化广场租房、城北租房、彭埠租房、下沙租房、转塘租房、留下租房、三墩租房、临平租房、未来科技城租房、瑞豪酒店、下沙酒店、小和山酒店" />
    <meta name="baidu-site-verification" content="cFAXF1msQs" />
    <title>随寓青年社区</title>
	<link rel="shortcut icon" href="./img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
	<script>
	document.write("<l"+"ink rel='stylesheet' href='./css/style.css?"+Math.random()+"'></l"+"ink>");
	</script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<!-- <script type="text/javascript" src="js/main.js"></script> -->
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.roundabout-1.0.min.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@1.4/lib/theme-default/index.css">
	<!-- 引入组件库 -->
	<!-- <script src="https://unpkg.com/element-ui@1.4/lib/index.js"></script> -->
	<script src="https://unpkg.com/element-ui@1.4.12/lib/index.js"></script>
	<style type="text/css">
		.pageAparment .banner{
			height: 800px;
		}
	</style>
</head>
<body>
	<div class="pageAparment" id="space-detail">
		<!-- 导航 -->
		<div class="headerNav">
			<div class="mainBody f-cb">
				<div class="HNLeft"><a href="index.html"></a></div>
				<div class="HNMiddle">
					<a href="index.html">首页</a>
					<a href="aparment.html" class="cur">随寓公寓</a>
					<a href="league.html">房屋托管</a>
					<a href="about.html">关于随寓</a>
					<a href="https://sou.zhaopin.com/jobs/searchresult.ashx?jl=%E6%9D%AD%E5%B7%9E&kw=%E6%9D%AD%E5%B7%9E%E9%9A%8F%E5%AF%93%E7%BD%91%E7%BB%9C%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sm=0&p=1" target="_blank">加入我们</a>
				</div>
				<div class="HNRight">
					<p class="phone">400-060-2897</p>
					<p class="loaction"></p>
				</div>
			</div>
		</div>
		<!-- banner -->
		<div class="banner swiper-container">
			<div class="swipper swiper-wrapper">
				<div class="swiper-slide"><img src="img/banner6.jpg"></div>
			</div>
			<div class="form">
				<p>一键预约入住</p>
				<input type="text" v-model="info.name" class="name" name="" placeholder="姓名">
				<input type="text" v-model="info.phone" class="phone" name="" placeholder="联系方式" maxlength="11">
				<div class="spaceList" id="space-list">
					<input type="text" v-model="info.houseSpace" class="" name="" placeholder="预约公寓" readonly="readonly">
					<ul>
						<li class="f-cb" v-for="item in spaceList" @click="chooseHouseSpace(item)">
							<div class="left">
								<p>{{item.name}}</p>
							</div>
							<div class="right">
								<p>{{item.address}}</p>
							</div>
						</li>
					</ul>
				</div>
				<input type="button" name="" value="立即预约" @click="submit">
			</div>
		</div>
		<!-- 公司简介 -->
		<div class="about">
			<div class="mainBody f-cb">
				<div class="left" v-if="show">
					<div class="left-content">
						<div class="left-con">
							<p class="tit-ch">{{data.name}}</p>
							<p class="tit-en">apartment</p>
							<!-- <p class="t1">杭州随寓网络科技有限公司，系德信地产子公司</p> -->
							<p class="c1">{{data.discription}}</p>
							<p class="c1">
								<strong>公寓地址:{{data.addr}}<br>联系电话:{{data.phone}}</strong>
							</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
				<div class="right" id="map"></div>
			</div>
		</div>
		<!-- 精致房源 -->
		<div class="intro" v-if="show">
			<div class="mainBody f-cb">
				<div class="tit">
					<span></span>
					<div class="mid">
						<p>精致房源</p>
						<div></div>
					</div>
					<span></span>
				</div>
				<div class="body">
					<div class="f-cb" v-for="(item, index) in data.hasimgs">
						<div class="img"><img :src="item.big"></div>
						<div class="font">
							<span>
								<p class="p1">{{item.name}}</p>
								<p class="p2">{{item.intro}}</p>
								<a href="javascript:void(0)" @click="booking(item)">立即预约</a>
							</span>
							<div class="number">
								<p>0{{index + 1}}</p>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 精致房源 -->
		<div class="intro1" v-if="show">
			<div class="mainBody f-cb">
				<div class="tit">
					<span></span>
					<div class="mid">
						<p>精致房源</p>
						<div></div>
					</div>
					<span></span>
				</div>
				<div class="body">
					<ul class="f-cb">
						<li v-for="item in data.hasimgs"><img :src="item.big"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="top">
				<div class="mainBody f-cb">
					<div class="left"></div>
					<div class="mid">
						<div>
							<p>地址：杭州市拱墅区祥园路35号</p>
							<p>电话：400-060-2897</p>
							<p>邮箱：suiyu@dexingroup.com</p>
						</div>
					</div>
					<div class="right">
						<div></div>
						<p>关注随寓公众号，了解动态</p>
					</div>
				</div>
			</div>
			<div class="bottom">copyright © 2018 杭州随寓网络科技有限公司 ALL Rights Reserved 浙ICP备16011080号</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
$(document).ready(function(){ 
	var city = localStorage.getItem("city");
	var houseDetail
	if (city == null ||city == 'HZ') {
		$(".intro").css("display","block")
		$(".intro1").css("display","none")
		$('.banner img').attr("src", "./img/banner6.jpg")
	} else if (city == 'SH') {
		$(".intro1").css("display","block")
		$(".intro").css("display","none")
		$('.banner img').attr("src", "./img/about2_01.png")
	}
	var reserveUrl = apiUrl + 'web/saveuserinfo';
	if (localStorage.getItem("houseSpaceId") == null) {
		location.href = 'aparment.html'
	}

	var str = []
	var longitude = 0
	var dimension = 0
	var newSpaceUrl = mix.spaceDetailUrl + '?id=' + localStorage.getItem("houseSpaceId");
    $.get(newSpaceUrl, function(data) {
		houseDetail = new Vue({
	        el: '#space-detail',
	        data: {
	        	data: [],
	        	spaceList: [],
	        	info: {
	        		name: '',
	        		phone: '',
	        		houseSpace: '',
	        		Bid: ''
	        	},
	        	show: false
	        },
	        mounted: function() {
				var loca = ''
				if(city == null || city == 'HZ'){
					city = 'HZ'
					loca = '杭州'
				} else {
					loca = '上海'
				}
				$('.headerNav .HNRight .loaction').html(loca)
				// $('.headerNav .HNRight .loaction a').click(function(){
				// 	console.log(city)
				// 	if (city == 'HZ') {
				// 		localStorage.setItem("city", 'SH')
				// 	} else if (city == 'SH') {
				// 		localStorage.setItem("city", 'HZ')
				// 	}
				// 	window.location.reload()
				// })
	        },
	        methods: {
	        	booking: function (value) {
	        		$('body').animate({scrollTop: 0}, 500)
	        	},
	        	chooseHouseSpace: function (value) {
	        		this.info.houseSpace = value.name
	        		this.info.Bid = value.id
	        	},
	        	submit: function () {
			        let _this = this

			        if (this.info.name == '' || this.info.name == '姓名') {
			            // alert('请输入您的姓名');
						_this.$message({
				            type: 'error',
				            message: '请输入您的姓名'
				         });
			            return false;
			        };

			        if (this.info.phone == '' || this.info.phone == '联系方式') {
			            // alert('请输入您的联系方式');
						_this.$message({
				            type: 'error',
				            message: '请输入您的联系方式'
				         });
			            return false;
			        };
			        //提交数据
			        $.ajax({
			            url: reserveUrl,
			            type: 'POST',
			            data: {
			                name: this.info.name,
			                tel: this.info.phone,
			                Bid: this.info.Bid,
			                source: ''
			            },
			            success:function(res){
			               // console.log(res)
			            	res = $.parseJSON(res)
			            	console.log(res.state)
			               if (res.state === 1000) {
			               	// alert("我们已经收到您的预约，稍后会有工作人员和您联系，感谢您对随寓的支持。")
					         _this.$message({
					            type: 'success',
					            message: '我们已经收到您的预约，稍后会有工作人员和您联系，感谢您对随寓的支持!'
					          });
			               	_this.info.name = ''
			               	_this.info.phone = ''
			               	_this.info.Bid = ''
			               	// _this.info.houseSpace = ''
			               }else {
					         _this.$message({
					            type: 'error',
					            message: '信息提交有误，请稍后重试！'
					          });
			               }
			            }
			        })
	        	}
	        }
		})
        houseDetail.data = data.result[0];
		var list = {}
		list.title = data.result[0].name
		list.content = data.result[0].addr
		// list.point = data.result[0].hasimgs[i].
		longitude = data.result[0].longitude
		dimension = data.result[0].dimension
		list.point = data.result[0].longitude + '|' + data.result[0].dimension
		list.isOpen = 0
		list.icon = {w:21,h:21,l:0,t:0,x:6,lb:5}
		str.push(list)
		houseDetail.info.Bid = data.result[0].id
		houseDetail.info.houseSpace = data.result[0].name
		houseDetail.show = true

    	initMap();//创建和初始化地图
		$.get(mix.spaceListlUrl + "?city=" + city, function(data) {
			houseDetail.spaceList = data.result[0].hasimgs
		})
    });

	// 加载数据
		$(".form .spaceList li").each(function(){
			$(this).find('.left').height($(this).height())
		})

    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        // setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("map");//在百度地图容器中创建一个地图
        var point = new BMap.Point(longitude,dimension);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	// map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	// map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	// map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = str;
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("./img/map.png", new BMap.Size('22px','35px'),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    

});
</script>    
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>