<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="杭州随寓网络科技有限公司，系德信地产子公司，是一家利用移动互联网信息技术，通过线上线下平台资源整合，实践O2O模式的专业公寓运营商。公司所打造的“随寓青年社区”营造“自由、独立、关怀、分享、参与”的居住氛围和社区文化。" />
    <meta name="keywords" content="随寓、租房、青年社区、青年公寓、人才公寓、服务式公寓、酒店式公寓、管家服务、北软公寓、西溪寓、之美寓、金鹰大厦、西湖文化广场租房、城北租房、彭埠租房、下沙租房、转塘租房、留下租房、三墩租房、临平租房、未来科技城租房、瑞豪酒店、下沙酒店、小和山酒店" />
    <meta name="baidu-site-verification" content="cFAXF1msQs" />
    <title>随寓青年社区</title>
	<link rel="shortcut icon" href="./img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
	<script>
	document.write("<l"+"ink rel='stylesheet' href='./css/style.css?"+Math.random()+"'></l"+"ink>");
	</script>
	<link rel="stylesheet" type="text/css" href="css/swiper-3.4.1.min.css">
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/swiper-3.4.1.jquery.min.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@1.4/lib/theme-default/index.css">
	<!-- 引入组件库 -->
	<!-- <script src="https://unpkg.com/element-ui@1.4/lib/index.js"></script> -->
	<script src="https://unpkg.com/element-ui@1.4.12/lib/index.js"></script>
</head>
<body>
	<div class="index">
		<!-- 导航 -->
		<div class="headerNav">
			<div class="mainBody f-cb">
				<div class="HNLeft"><a href="index.html"></a></div>
				<div class="HNMiddle">
					<a href="index.html" class="cur">首页</a>
					<a href="aparment.html">随寓公寓</a>
					<a href="league.html">房屋托管</a>
					<a href="about.html">关于随寓</a>
					<a href="https://sou.zhaopin.com/jobs/searchresult.ashx?jl=%E6%9D%AD%E5%B7%9E&kw=%E6%9D%AD%E5%B7%9E%E9%9A%8F%E5%AF%93%E7%BD%91%E7%BB%9C%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sm=0&p=1" target="_blank">加入我们</a>
				</div>
				<div class="HNRight">
					<p class="phone">400-060-2897</p>
					<p class="loaction">杭州<a href="javascript:void(0)">[切到上海]</a></p>
				</div>
			</div>
		</div>
		<!-- banner -->
		<div class="banner swiper-container">
			<div class="swipper swiper-wrapper">
				<div class="swiper-slide"><img src="img/banner8.jpg"></div>
			</div>
			<div class="form" id="space-detail">
				<p>开启你的随寓体验之旅</p>
				<input type="text" v-model="info.name" name="" placeholder="姓名">
				<input type="text" v-model="info.phone" name="" maxlength="11" placeholder="联系方式">
				<div class="spaceList">
					<input type="text" v-model="info.houseSpace" class="" name="" placeholder="预约公寓" readonly="readonly">
					<ul>
						<li class="f-cb" v-for="item in spaceList" @click="chooseHouseSpace(item)">
							<div class="left">
								<p>{{item.name}}</p>
							</div>
							<div class="right">
								<p>{{item.address}}</p>
							</div>
						</li>
					</ul>
				</div>
				<input type="button" name="" value="立即预约" @click="submit">
			</div>
		</div>
		<!-- 公司简介 -->
		<div class="about l2">
			<div class="mainBody f-cb">
				<div class="left left2">
					<div class="left-content">
						<div class="left-con">
							<p class="tit-ch">公司简介</p>
							<p class="tit-en">abouts us</p>
							<p class="t1">杭州随寓网络科技有限公司，系德信地产子公司</p>
							<p class="c1">一家利用移动互联网信息技术，通过线上线下平台资源整合，实践O2O模式的专业公寓运营商。<br>公司所打造的“随寓青年社区”依托德信集团丰富的房地产全产业链资源，为广大业主提供物业资产托管服务的同时，为都市青年白领打造集居住、娱乐、工作于一体的多维生活公寓.</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
				<div class="left left1">
					<div class="left-content">
						<div class="left-con">
							<p class="tit-ch">公司简介</p>
							<p class="tit-en">abouts us</p>
							<p class="t1">随寓是一家专业品牌公寓运营商。</p>
							<p class="c1">我们致力于改变提高租房人群居住质量，倾力打造轻奢生活。在发展建设的道路上不断完善不断给租客提供最省心、贴心、安心的服务！<br>随寓的公寓一直坚持打造设计风格与众不同的长租公寓，打破传统的室内布局，不管是复古风格还是充满时尚感的室内设计，都能满足客户要求，始终以满足现代白领青年的审美要求为目标，追求居住品质，打造设计风格独树一帜的长租公寓。<br>随寓的租客来自世界各地，有来自欧洲和北美的外国友人，也有来自全国各地的白领青年，随寓公寓一直都会为身在异国他乡的青年提供温暖欢乐的居住环境，我们做的不仅仅是公寓，更是世界各地青年交友的一个线下平台。</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="img1"><img src="img/index3.png"></div>
					<div class="img2"><img src="img/index2.png"></div>
					<div class="img3"><img src="img/index1.png"></div>
				</div>
			</div>
		</div>
		<!-- 随寓公寓 -->
		<div class="suiyu">
			<div class="mainBody f-cb">
				<div class="tit">
					<span class="line"></span>
					<div class="tit-mid">
						<p class="tit-en">suiyu apartments</p>
						<p class="tit-ch">随寓 · 公寓</p>
						<p class="tit-line"></p>
					</div>
					<span class="line"></span>
				</div>
				<div class="body swiper-container" id="space">
					<div class="swipper swiper-wrapper">
						<div class="swiper-slide" v-for="item in data">
							<div class="left">
								<div class="img"><img :src="item[0].img"></div>
								<p class="name">{{item[0].name}}</p>
								<p class="location"><span>{{item[0].address}}</span></p>
							</div>
							<div class="right" v-if="item.length > 1">
								<div class="img"><img :src="item[1].img"></div>
								<p class="name">{{item[1].name}}</p>
								<p class="location"><span>{{item[1].address}}</span></p>
							</div>
						</div>
					</div>
				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<!-- 公寓优点 -->
		<div class="advantages l2">
			<div class="mainBody f-cb">
				<div class="tit">
					<span class="line"></span>
					<div class="tit-mid">
						<p class="tit-en">Apartment advantages</p>
						<p class="tit-ch">公寓 · 优点</p>
						<p class="tit-line"></p>
					</div>
					<span class="line"></span>
				</div>
				<div class="body">
					<ul class="f-cb">
						<li class="l1">
							<p class="p1"></p>
							<p class="line"></p>
							<p class="p2">租客筛选</p>
							<p class="p3">租客严格筛选</p>
							<p class="p4">需有大学以上学历，保证租客素质严格防患邻里纠纷</p>
							<!-- <a href="">查看更多</a> -->
						</li>
						<li class="l2">
							<p class="p1"></p>
							<p class="line"></p>
							<p class="p2">安全保证</p>
							<p class="p3">配置安保设备</p>
							<p class="p4">配置灭火器、应急灯、监控、烟感报警器等安保设备</p>
							<!-- <a href="">查看更多</a> -->
						</li>
						<li class="l3">
							<p class="p1"></p>
							<p class="line"></p>
							<p class="p2">清洁维修</p>
							<p class="p3">定期清洁维修</p>
							<p class="p4">对房屋进行定期检查维修，每月两次的房屋清洁维护</p>
							<!-- <a href="aparment.html">查看更多</a> -->
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 公寓娱乐 -->
		<div class="entertainment l2">
			<div class="mainBody f-cb">
				<div class="tit">
					<span class="line"></span>
					<div class="tit-mid">
						<p class="tit-en">Apartment entertainment</p>
						<p class="tit-ch">公寓 · 娱乐</p>
						<p class="tit-line"></p>
					</div>
					<span class="line"></span>
				</div>
				<div class="body">
					<p class="ex">随寓旨在为租客提供一个温暖的港湾，营造分享、关怀、参与的居住氛围，<br>让他们在这个城市不再感到孤单和漂泊。</p>
					<ul class="f-cb">
						<li>
							<div class="img"><img src="img/index_11.png"></div>
							<p class="p1">Sui咖啡</p>
							<p class="p2">Sui Coffee</p>
						</li>
						<li>
							<div class="img"><img src="img/index_13.png"></div>
							<p class="p1">Sui影院</p>
							<p class="p2">Sui Cinema</p>
						</li>
						<li>
							<div class="img"><img src="img/index_15.png"></div>
							<p class="p1">Sui桌游</p>
							<p class="p2">Sui Board Game</p>
						</li>
						<li>
							<div class="img"><img src="img/index_19.png"></div>
							<p class="p1">Sui健身</p>
							<p class="p2">Sui Fitness</p>
						</li>
						<li>
							<div class="img"><img src="img/index_20.png"></div>
							<p class="p1">Sui办公</p>
							<p class="p2">Sui Office</p>
						</li>
						<li>
							<div class="img"><img src="img/index_21.png"></div>
							<p class="p1">Sui服务中心</p>
							<p class="p2">Sui Service Center</p>
						</li>
					</ul>
					<!-- <input type="button" value="立即预约" name=""> -->
					<a href="aparment.html">立即预约</a>
				</div>
			</div>
		</div>
		<!-- 业主加盟 -->
		<div class="league">
			<div class="mainBody f-cb">
				<div class="tit">
					<span class="line"></span>
					<div class="tit-mid">
						<p class="tit-en">householders league</p>
						<p class="tit-ch">业主 · 加盟</p>
						<p class="tit-line"></p>
					</div>
					<span class="line"></span>
				</div>
				<div class="body">
					<ul class="f-cb">
						<li>
							<div class="img"></div>
							<p>品牌可信赖</p>
						</li>
						<li class="next">
							<div class="img"></div>
							<p></p>
						</li>
						<li>
							<div class="img"></div>
							<p>稳健收益率</p>
						</li>
						<li class="next">
							<div class="img"></div>
							<p></p>
						</li>
						<li>
							<div class="img"></div>
							<p>房屋有保护</p>
						</li>
						<li class="next">
							<div class="img"></div>
							<p></p>
						</li>
						<li>
							<div class="img"></div>
							<p>租客有保证</p>
						</li>
					</ul>
					<a href="league.html">立即托管</a>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="top">
				<div class="mainBody f-cb">
					<div class="left"></div>
					<div class="mid">
						<div>
							<p>地址：杭州市拱墅区祥园路35号</p>
							<p>电话：400-060-2897</p>
							<p>邮箱：suiyu@dexingroup.com</p>
						</div>
					</div>
					<div class="right">
						<div></div>
						<p>关注随寓公众号，了解动态</p>
					</div>
				</div>
			</div>
			<div class="bottom">copyright © 2018 杭州随寓网络科技有限公司 ALL Rights Reserved 浙ICP备16011080号</div>
		</div> 
	</div>
</body>
</html>
<script type="text/javascript" src="js/main.js"></script>
<script>
	if (city == 'HZ') {
		$('.about .left1').css('display',"none")
		$('.about .left2').css('display',"table")
		$('.banner img').attr("src", "./img/banner11.jpg")
		$(".about .img1 img").attr("src", "./img/index3.png")
		$(".about .img2 img").attr("src", "./img/index2.png")
		$(".about .img3 img").attr("src", "./img/index1.png")
	} else if (city == 'SH') {
		$('.about .left1').css('display',"table")
		$('.about .left2').css('display',"none")
		$('.banner img').attr("src", "./img/banner3.jpg")
		$(".about .img1 img").attr("src", "./img/index2_03.png")
		$(".about .img2 img").attr("src", "./img/index2_06.png")
		$(".about .img3 img").attr("src", "./img/index2_10.png")
	}
	var reserveUrl = apiUrl + 'web/saveuserinfo';
	$(".suiyu").css("display","none")
	var houseDetail = new Vue({
        el: '#space-detail',
        data: {
        	data: [],
        	spaceList: [],
        	show: false,
        	info: {
        		name: '',
        		phone: '',
        		houseSpace: '',
        		Bid: ''
        	}
        },
        methods: {
        	booking: function (value) {
        		$('body').animate({scrollTop: 0}, 500)
        	},
        	chooseHouseSpace: function (value) {
        		this.info.houseSpace = value.name
        		this.info.Bid = value.id
        	},
        	submit: function () {
		        var _this = this
		        if (this.info.name == '' || this.info.name == '姓名') {
		            // alert('请输入您的姓名');
			         _this.$message({
			            type: 'error',
			            message: '请输入您的姓名'
			          });
		            return false;
		        };

		        if (this.info.phone == '' || this.info.phone == '联系方式') {
		            // alert('请输入您的联系方式');
			         _this.$message({
			            type: 'error',
			            message: '请输入您的联系方式'
			          });
		            return false;
		        };
		        //提交数据
		        $.ajax({
		            url: reserveUrl,
		            type: 'POST',
		            data: {
		                name: this.info.name,
		                tel: this.info.phone,
		                Bid: this.info.Bid,
		                source: ''
		            },
		            success:function(res){
		            	res = $.parseJSON(res)
		               if (res.state === 1000) {
		               	// alert("我们已经收到您的预约，稍后会有工作人员和您联系，感谢您对随寓的支持。")
				         _this.$message({
				            type: 'success',
				            message: '我们已经收到您的预约，稍后会有工作人员和您联系，感谢您对随寓的支持!'
				          });

		               	_this.info.name = ''
		               	_this.info.phone = ''
		               	_this.info.Bid = ''
		               	_this.info.houseSpace = ''
		               }else {
					         _this.$message({
					            type: 'error',
					            message: '信息提交有误，请稍后重试！'
					          });
			               }
		            }
		        })
        	}
        }
	})
	$.get(mix.spaceListlUrl + "?city=" + city, function(data) {
		houseDetail.spaceList = data.result[0].hasimgs
		houseDetail.show = true
	})
	// 加载数据
	$.get(mix.spaceListlUrl + "?city=" + city, function(data) {
		var house = []
		for (var i = 0; i < data.result[0].hasimgs.length; i=i+2) {
			var list = {}
			var str = []
			list = data.result[0].hasimgs[i]
			str.push(list)
			if ((i+1) < data.result[0].hasimgs.length) {
				list = data.result[0].hasimgs[i+1]
				str.push(list)
			}
			house.push(str)
		}
		$(".suiyu").css("display","block")
		var spaceList = new Vue({
	        //导航
	        el: '#space',
	        data: {
	        	data: house,
	        	show: false,
	        },
	        mounted: function() {
	        	console.log(111)
	            var mySwiper = new Swiper ('#space', {
				    direction: 'vertical',
				    loop: true,
				    autoplay: 5000,
				    direction: 'horizontal',
				    // 如果需要前进后退按钮
				    nextButton: '.swiper-button-next',
				    prevButton: '.swiper-button-prev',
				  })
	        },
	        methods: {
	        	detail (value) {
	        		// console.log(value)
	        		localStorage.setItem("houseSpaceId",value.id);
	        		window.location.href="detail.html"
	        	}
	        }
	    });
	})

    $(window).scroll(function(){
        $(".l2").each(function(){ 
            var top = $(this).offset().top;
            var height = $(this).height();
            if( $(document).scrollTop() > ( top -height + 100)){
                $(this).addClass("cur")
            }
        });
    });
    $(".l2").each(function(){ 
        var top = $(this).offset().top;
        var height = $(this).height();
        if( $(document).scrollTop() > ( top -height + 100)){
            $(this).addClass("cur")
        }
    });

  </script>